.activities {
  padding: 20px;
}

.album {
  margin-bottom: 40px;
}

.subAlbums {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.subAlbum {
  flex: 1 1 calc(33.333% - 20px);
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.images {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.thumbnail {
  width: calc(50% - 10px);
  height: auto;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.2s;
}

.thumbnail:hover {
  transform: scale(1.05);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  outline: none;
}

.overlay {
  background: rgba(0, 0, 0, 0.75);
}

.modalImage {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.closeButton {
  margin-top: 10px;
  padding: 10px 20px;
  background: #0077b5;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.closeButton:hover {
  background: #005f8d;
}
